In [1]:
import os
from bs4 import BeautifulSoup

In [2]:
# change to the project directory working on
path = "projects_on_GitHub/data_wrangling/rt_MovieDataExplore"
os.chdir(path)

In [8]:
# parse a certain file as demo

folder = 'rt_html'  # the folder name where all the html files living in

with open(os.path.join(folder,'et_the_extraterrestrial.html')) as file:
    soup = BeautifulSoup(file, 'lxml')
    title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
    audience_score = soup.find('div', class_="audience-score meter").find('span').contents[0].replace('%','')
    num_audience_ratings = soup.find('div', class_="audience-info hidden-xs superPageFontColor").find_all('div')[1].contents[2].strip().replace(',','')
    print(title)
    print(audience_score)
    print(num_audience_ratings)

E.T. The Extra-Terrestrial (1982)
72
32313030

In [ ]:
# parse all html files as above

df_list = []

for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score = soup.find('div', class_="audience-score meter").find('span').contents[0].replace('%','')
        num_audience_ratings = soup.find('div', class_="audience-info hidden-xs superPageFontColor").find_all('div')[1].contents[2].strip().replace(',','')
        
    df_list.append({'title': title, 'audience_score': audience_score, 'number_of_audience_ratings': num_audience_ratings})

In [10]:
df_list[:5]

[{'title': 'Zootopia\xa0(2016)',
  'audience_score': '92',
  'number_of_audience_ratings': '98633'},
 {'title': 'The Treasure of the Sierra Madre\xa0(1948)',
  'audience_score': '93',
  'number_of_audience_ratings': '25627'},
 {'title': 'All Quiet on the Western Front\xa0(1930)',
  'audience_score': '89',
  'number_of_audience_ratings': '17768'},
 {'title': 'Rear Window\xa0(1954)',
  'audience_score': '95',
  'number_of_audience_ratings': '149458'},
 {'title': 'Selma\xa0(2015)',
  'audience_score': '86',
  'number_of_audience_ratings': '60533'}]

In [11]:
# convert the df_list into a DataFrame
df = pd.DataFrame(df_list, columns=['title', 'audience_score', 'number_of_audience_ratings'])
df.head()

,title,audience_score,number_of_audience_ratings
0,Zootopia (2016),92,98633
1,The Treasure of the Sierra Madre (1948),93,25627
2,All Quiet on the Western Front (1930),89,17768
3,Rear Window (1954),95,149458
4,Selma (2015),86,60533